<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>382890776298-8bf0lnbq7m2u2hdclfsigsq0knkshtdi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.382890776298-8bf0lnbq7m2u2hdclfsigsq0knkshtdi</string>
	<key>API_KEY</key>
	<string>AIzaSyA55qx4ILxqKKUtEh7eFvXNG5kVSqlAfmM</string>
	<key>GCM_SENDER_ID</key>
	<string>382890776298</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tr.com.mustafagulmez.movieapp</string>
	<key>PROJECT_ID</key>
	<string>movie-app-34b57</string>
	<key>STORAGE_BUCKET</key>
	<string>movie-app-34b57.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:382890776298:ios:38d2a927c47a269708e993</string>
</dict>
</plist>
